.applicant-interview {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.applicant-interview > .applicant-interview-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 25px 20px;
    box-shadow: 0px 0px 20px rgb(20 25 67 / 10%) !important;
    transition: box-shadow 0.5s ease !important;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: right;
}

.applicant-interview > .applicant-interview-details > .applicant-interview-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.applicant-interview-section-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

 .interview-input {
    text-align: center;
}

.applicant-interview-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;;
    margin-top: 20px;
}

.applicant-interview-footer > .btn {
    width: 200px;
    padding: 16px 25px;
    margin: 6px;
}

.input-group-append .btn, .input-group-prepend .btn {
    z-index: 0;
}
[dir=RTL] .input-group > .form-control:not(:last-child) {
    border-radius: 0 0.25rem 0.25rem 0;
}
[dir=RTL] .input-group > .input-group-append > .btn {
    border-radius: 6px 0 0 6px;
}

@media screen and (max-width: 992px) {
    .applicant-interview {
        width: 100%;
    }
}