.applicant-school {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.applicant-school > .applicant-school-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 25px 20px;
    box-shadow: 0px 0px 20px rgb(20 25 67 / 10%) !important;
    transition: box-shadow 0.5s ease !important;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: right;
}

.applicant-school > .applicant-school-details > .applicant-school-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.applicant-school-section-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.applicant-school-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;;
    margin-top: 20px;
}

.applicant-school-footer > .btn {
    width: 200px;
    padding: 16px 25px;
    margin: 6px;
}


.select-dof {
    width: 81%;
}

@media screen and (max-width: 992px) {
    .applicant-school {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .select-dof {
        width: 100%;
    }
}