body {
  background-color: #f5f6f8;
  --icons-color: #0f66ff;
  --icons-color-new: #ff660f;
  --icons-color-disable: #999999;
  --system-bg: #0f66ff;
  --system-btn: #f0f4f6;
  font-family: 'Tajawal', sans-serif !important;
}

::placeholder {
  color: #8d99a6;
  font-weight: bold;
  font-size: 0.9em;
}

.content {
  min-height: 89.5vh;
}

.btn {
  border: none !important;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: linear-gradient(179.83deg, #0f66ff -10.06%, #21176b 106.57%);
  border-radius: 6px;
  background-size: 100% 81px;
  position: relative;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0px 0px 20px rgb(20 25 67 / 20%) !important;
  transition: box-shadow 0.5s ease !important;
}

.btn-secondary {
  background-color: #d5dbdb !important;
  color: black;
  font-weight: bold;
}

.btn-light {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

.app-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: #555;
}
.app-footer a {
  text-decoration: none;
}
.app-footer a:hover {
  text-decoration: underline;
}
.app-footer .powered {
  margin-top: 5px;
  font-size: 0.9em;
}
.app-footer .privacy-policy {
  border: 0;
  color: #1170fd;
  background-color: transparent;
}

.disabled-button {
  cursor: no-drop !important;
  background-color: #c7c7c8 !important;
  user-select: none !important;
}

.react-confirm-alert-button-group {
  justify-content: space-between !important;
}

.react-confirm-alert-button-group button {
  border: none !important;
  padding: 10px 30px !important;
  font-size: 0.8rem !important;
  margin: 0 !important;
}
.react-confirm-alert-button-group button:hover {
  opacity: 0.8;
}
.react-confirm-alert-button-group button.btn-primary {
  background: linear-gradient(179.83deg, #0f66ff -10.06%, #21176b 106.57%);
  border-radius: 6px;
  background-size: 100% 81px;
  position: relative;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0px 0px 20px rgb(20 25 67 / 20%) !important;
  transition: box-shadow 0.5s ease !important;
}

.react-confirm-alert-button-group button.btn-secondary {
  background-color: #d5dbdb !important;
  color: black;
  font-weight: bold;
}

.react-confirm-alert h1 {
  font-weight: bold;
  font-size: 22px;
}

.rmdp-container > input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: initial;
  height: auto !important;
}
.rmdp-container {
  width: 100%;
}
